@charset "UTF-8";

:root {
    --gyoza_white: #fff7f7;
    --white: #fff;
    --gyoza_black: #131a12;
    --gyoza_red: #e22a00;
    --gyoza_yellow: #ffe100;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    color: var(--gyoza_black);
    background: var(--gyoza_white);
    line-height: 180%;
}

img {
    width: 100%;
}

/* -----------------コンテンツ幅のクラス----------------- */
.l-wrapper {
    width: min(92%, 960px);
    margin: 0 auto;

}

/* -----------------モバイルファースト -----------------*/
/*----------------- 共通部分 -----------------*/
/* ----------------－いじらないでね♥----------------- */
.l-header {
    padding: 20px 15px;
    background: var(--white);
    /* ↓スマホ版はない */
    /* margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px); */
}

.c-header-logo img {
    width: clamp(200px, 147.183px + 14.085vw, 350px);
}

.l-header-sp {
    display: flex;
    justify-content: space-between;
}

.l-header-pc {
    display: none;
}

/* ↓仮置きのハンバーガーイメージ */
.l-header .hamburger-image {
    width: 25px;
    height: 24px;
}

.c-header-nav li a:hover {
    border-block-end: solid 2px var(--gyoza_red);
}

.nav-pc li img:hover li img:hover {
    text-decoration: underline solid 2px var(--gyoza_red);
}

section {
    /* padding-block: 30px; */
    padding-block: clamp(30px, 26.479px + 0.939vw, 40px);
}

.c-title {
    /* font-size: 32px; */
    font-size: clamp(32px, 30.592px + 0.376vw, 36px);
    font-weight: bold;
    padding-block-end: 30px;
    border-block-end: 3px solid var(--gyoza_red);
    /* margin-block-end: 60px; */
    margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px);
    text-align: center;
}

.c-title__sub {
    /* font-size: 24px; */
    font-size: clamp(24px, 21.183px + 0.751vw, 32px);
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_red);
    padding: 5px 10px;
    /* margin-block-end: 30px; */
    margin-block-end: clamp(30px, 12.394px + 4.695vw, 80px);
}

/* ボタン */
.c-btn a {
    display: block;
    font-weight: bold;
    color: var(--white);
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.c-btn a :hover {
    text-decoration: underline solid 1px var(--white);
}

/* 黒いボタン */

.c-btn__black {
    text-align: center;
}

.c-btn__black a {
    font-size: 20px;
    background: var(--gyoza_black);
    padding: 15px 85px;
    border-radius: 15px;
}


/* 赤いボタン */
.c-btn__red a {
    font-size: 16px;
    background: var(--gyoza_red);
    padding: 5px 10px;
    border-radius: 7px;
}

.c-btn__sns {
    width: 150px;
    background: var(--gyoza_black);
    color: var(--white);
    border-radius: 7px;
    text-align: center;
}

.c-btn__sns img {
    width: 30px;
    height: 35px;
}

.l-footer {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    background: var(--white);
}

.l-footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.l-footer li+li {
    border-left: 1px solid var(--gyoza_black);
    padding-left: 20px;
}

.l-footer li a:hover {
    text-decoration: underline solid 1px var(--gyoza_black);
}

/* -----------------以下各ページごとのコーディング----------------- */

/* ここからTOP / NEWSページ */
.l-about-sec {
    background: var(--gyoza_yellow);
    padding-block: clamp(60px, 52.958px + 1.878vw, 80px);
}

.l-about-inner {
    background: var(--white);
    padding-block: 60px;
    margin-block-end: 80px;
}

.l-news-sec {
    background: var(--white);
    padding-block-end: 60px;
}

.l-sns-sec {
    background: var(--white);
}

.c-mv-sec {
    background: url(/img/mainvisual.jpg);
    background-size: cover;
    object-fit: cover;
    /* padding-block-start: 68px; */
    /* padding-block-end: 200px; */
    height: clamp(580px, 474.366px + 28.169vw, 880px);
}

.c-mv-sec__img {
    width: clamp(345px, 184.789px + 42.723vw, 800px);
    height: clamp(313px, 194.338px + 31.643vw, 650px);
    margin: 0 auto;
}

.c-about-concept {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: clamp(60px, 52.958px + 1.878vw, 80px);


}

.c-about-concept__big {
    font-weight: bold;
    font-size: clamp(20px, 15.775px + 1.127vw, 32px);
}

.c-about-concept__red {
    color: var(--gyoza_red);
}

.c-about-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.c-about-list dl {
    text-align: center;
}

.c-about-list dd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.c-about-detail__title {
    font-weight: normal;
    font-size: 24px;
    margin-block-end: clamp(30px, 21.197px + 2.347vw, 55px);
}

.c-about-detail__main {
    font-weight: bold;
    font-size: clamp(24px, 21.183px + 0.751vw, 32px);
}

.c-about-detail__sub {
    font-weight: bold;
    font-size: 24px;
}

.c-about-detail__address {
    text-align: left;
}

.c-about-detail__note {
    font-weight: normal;
    font-size: 20px;
}

.c-about-pc {
    display: none;
}


.c-news-detail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted var(--gyoza_red);
    padding: 20px 15px;
    background: var(--white);
}

.c-news-date {
    /* padding-inline-start: 16px; */
    font-weight: normal;
    width: 162px;
}

.c-news-content {
    padding-block-end: clamp(30px, 12.394px + 4.695vw, 80px);
}

.c-sns-title {
    font-size: clamp(28px, 25.183px + 0.751vw, 36px);
    text-align: center;
    font-weight: bold;
    margin-block-end: 23px;
}

.c-sns-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.c-icon-white {
    color: var(--white);
}


/* ここからfaqページ */
/* faq レイアウト */


/* faqコンポーネント */
.c-faqCard-q {
    font-weight: bold;
    font-size: 20px;
    color: var(--gyoza_red);
    margin-right: 20px;
}

.c-faqCard dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.c-faqCard dd {
    margin-bottom: 30px;
    margin-left: 35px;
}

/* ここからshopsページ */
/* shops レイアウト */
.l-muCard-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    
}

.l-mnCard>* {
    margin-bottom: 15px;
}

.l-mnCard-bs {
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.l-mnCard-title {
    font-weight: bold;
}

.l-muCard-ul .l-mnCard-des {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    height: 116px;
}
.l-muCard-ul .l-mnCard-des dt{
    font-weight: normal;
}
.l-muCard-ul .l-mnbtn__red{
    margin-bottom: 10px;
}

/* shops コンポーネント */
.l-muCard-ul .c-mnCard {
    width: 346px;
}

.l-muCard-ul .c-mnCard img {
    width: 100%;
    object-fit: cover;
    height: 259px;
}

/* imgのpoint画像がちょっと細いverになってる */
.c-mnCard-bs::before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 26px;
    background: url(../img/point.svg) no-repeat center center/100%;
    
}
.c-mnCard-des dt {
    display: inline-block;
    
}
.c-mnCard-des dd {
    width: 83%;
}
.c-menu__small {
    font-size: 14px;
}





/* -----------------PC共通部分----------------- */
/* ----------------－いじらないでね♥----------------- */
@media(min-width:768px) {


    .l-header {
        padding: 50px;
        /* margin-block-end: 80px; */
    }

    .l-header-top {
        margin-block-end: 0;
    }

    /* h1 img {
        width: 350px;
    } */

    .l-header-sp {
        display: none;
    }

    .l-header-pc {
        display: flex;
        justify-content: space-between;
        /* margin-block-end: 80px; */
    }

    .c-header-nav ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .c-header-nav li {
        font-size: 20px;
        font-weight: bold;
    }

    .c-header-nav__x {
        width: 25px;
        height: 25px;
    }

    .c-header-nav__insta {
        width: 30px;
        height: 30px;
    }

    .c-header-nav__you {
        width: 30px;
        height: 24px;
    }

    .c-title {
        padding-block-start: 80px;
    }


    /* -----------------以下、各ページ設定----------------- */

    /* TOP */


    .c-header-top {
        margin-block-end: 0;
    }



    /* .c-mv-sec__img {
        padding: 0 auto;
    } */

    .c-mv-sec__img img {
        padding-block-start: 117px;
    }

    .c-about-concept {
        padding-inline: 90px;
    }

    .c-about-detail {
        margin-block-end: 80px;
        flex-direction: row;
    }

    .c-about-list dl {
        width: 440px;
        height: 353px;
        padding-block: 30px;
        border-top: 1px solid var(--gyoza_black);
        border-bottom: 1px solid var(--gyoza_black);
    }

    .c-about-sp {
        display: none;
    }

    .c-about-pc {
        display: block;
    }

    .c-news-detail {
        flex-direction: row;
    }

    .c-news-date {
        padding-inline-start: 16px;
    }

    .c-sns-icon {
        display: flex;
        flex-direction: row;
        gap: 84px;
    }

 /* ここからfaqページ */
/* faq レイアウト */


/* faqコンポーネント */
.c-faqCard-q {
    margin-right: 20px;
}
.c-faqCard dt {
    font-size: 24px;
    margin-bottom: 20px;
}
.c-faqCard dd {
    margin-bottom: 30px;
    margin-left: 35px;
}


    /* ここからshopsページ */
.l-muCard-ul{
    row-gap: 80px;
    column-gap: 30px;
}
/* shops コンポーネント */
.l-muCard-ul .c-mnCard {
    width: 300px;
}

.l-muCard-ul .c-mnCard img {
    width: 100%;
    object-fit: cover;
    height: 225px;
}




}