@charset "UTF-8";

:root {
    --gyoza_white: #fff7f7;
    --white: #fff;
    --gyoza_black: #131a12;
    --gyoza_red: #e22a00;
    --gyoza_yellow: #ffe100;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    color: var(--gyoza_black);
    background: var(--gyoza_white);
    line-height: 1.8;
}

img {
    width: 100%;
}

/* -----------------コンテンツ幅のクラス----------------- */
.l-wrapper {
    width: min(92%, 960px);
    margin: 0 auto;

}

/* -----------------モバイルファースト -----------------*/
/*----------------- 共通部分 -----------------*/
/* ----------------－いじらないでね♥----------------- */
.l-header {
    padding: 20px 15px;
    background: var(--white);
    /* ↓スマホ版はない */
    /* margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px); */
}

.c-header-logo img {
    width: clamp(200px, 147.183px + 14.085vw, 350px);
}

.l-header-sp {
    display: flex;
    justify-content: space-between;
}

.l-header-pc {
    display: none;
}

/* ↓仮置きのハンバーガーイメージ */
.l-header .hamburger-image {
    width: 25px;
    height: 24px;
}

.c-header-nav li a:hover {
    border-block-end: solid 2px var(--gyoza_red);
}

.nav-pc li img:hover li img:hover {
    text-decoration: underline solid 2px var(--gyoza_red);
}

section {
    /* padding-block: 30px; */
    padding-block: clamp(30px, 26.479px + 0.939vw, 40px);
}


.c-title {
    /* font-size: 32px; */
    font-size: clamp(32px, 30.592px + 0.376vw, 36px);
    font-weight: bold;
    border-block-end: 3px solid var(--gyoza_red);
    text-align: center;
    padding-block-start: clamp(60px, 52.958px + 1.878vw, 80px);
    padding-block-end: 30px;
    margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px);
}


.c-title__sub {
    /* font-size: 24px; */
    font-size: clamp(24px, 21.183px + 0.751vw, 32px);
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_red);
    padding: 5px 10px;
    /* margin-block-end: 30px; */
    margin-block-end: clamp(30px, 12.394px + 4.695vw, 80px);
}

/* ボタン */
.c-btn a {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.c-btn a:hover {
    text-decoration: underline solid 1px var(--white);
}

/* 黒いボタン */

.c-btn__black {
    text-align: center;
}

.c-btn__black a {
    display: inline-block;
    font-size: 20px;
    background: var(--gyoza_black);
    padding: 15px 85px;
    border-radius: 15px;
    /* width: 122px; */
}


/* 赤いボタン */
.c-btn__red a {
    font-size: 16px;
    background: var(--gyoza_red);
    padding: 5px 10px;
    border-radius: 7px;
}

.c-btn__sns {
    width: 150px;
    background: var(--gyoza_black);
    color: var(--white);
    border-radius: 7px;
    text-align: center;
}

/* SNS */
.c-btn__sns img {
    width: 30px;
    height: 35px;
}

/* TOPボタン */
.c-btn-jump {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    font-size: 16px;
    /* padding-top: 6px; */
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_red);
    /* border: none; */
    border-radius: 50%;
    cursor: pointer;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transition: .2s; */
    letter-spacing: 1px;
}

.l-footer {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    background: var(--white);
    margin-block-start: clamp(60px, 52.958px + 1.878vw, 80px);
}

.l-footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 1;
    margin-block-end: 10px;
}

.l-footer li+li {
    border-left: 1px solid var(--gyoza_black);
    padding-left: 20px;
}

.l-footer li a:hover {
    text-decoration: underline solid 1px var(--gyoza_black);
}

/* -----------------以下各ページごとのコーディング----------------- */

/* ここからTOP / NEWSページ */
.l-about-sec {
    background: var(--gyoza_yellow);
    padding-block: clamp(60px, 52.958px + 1.878vw, 80px);
}

.l-about-inner {
    background: var(--white);
    padding-block-end: 60px;
    margin-block-end: 80px;
}

.l-news-sec {
    background: var(--white);
    padding-block-end: 60px;
    /* padding-block-start: 60px */
}

.l-sns-sec {
    background: var(--white);
    padding-block: 30px;
}

.c-mv-sec {
    background: url(/img/mainvisual.jpg);
    background-size: cover;
    object-fit: cover;
    padding-block-start: 68px;
    /* padding-block-end: 200px; */
    height: clamp(580px, 474.366px + 28.169vw, 880px);
}

.c-mv-sec__img {
    width: clamp(345px, 184.789px + 42.723vw, 800px);
    height: clamp(313px, 194.338px + 31.643vw, 650px);
    margin: 0 auto;
}

.c-mv-stamp {
    display: inline-block;
    color: var(--white);
    background: var(--gyoza_red);
    padding: 20px;
    border-radius: 40%;
}

.c-mv-stamp p {
    text-align: center;
}

.c-about-concept {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: clamp(60px, 52.958px + 1.878vw, 80px);


}

.c-about-concept__big {
    font-weight: bold;
    font-size: clamp(20px, 15.775px + 1.127vw, 32px);
}

.c-about-concept__red {
    color: var(--gyoza_red);
}

.c-about-detail__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.c-about-list dl {
    text-align: center;
}



.c-about-list dd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(17px, 14.183px + 0.751vw, 25px);
}

.c-about-detail__title {
    font-weight: normal;
    font-size: 24px;
    margin-block-end: clamp(30px, 21.197px + 2.347vw, 55px);
}

.c-about-detail__main {
    font-weight: bold;
    font-size: clamp(24px, 21.183px + 0.751vw, 32px);
}

.c-about-detail__sub {
    font-weight: bold;
    font-size: 24px;
}

.c-about-detail__address {
    text-align: left;
}

.c-about-detail__note {
    font-weight: normal;
    font-size: 20px;
}

.c-about-pc {
    display: none;
}


.c-news-detail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted var(--gyoza_red);
    padding: 20px 15px;
    background: var(--white);
}

.c-news-date {
    /* padding-inline-start: 16px; */
    font-weight: normal;
    width: 162px;
}

.c-news-content {
    padding-block-end: clamp(30px, 12.394px + 4.695vw, 80px);
}

.c-sns-title {
    font-size: clamp(28px, 25.183px + 0.751vw, 36px);
    text-align: center;
    font-weight: bold;
    margin-block-end: 23px;
}

.c-news-title a:hover {
    border-bottom: 1px solid var(--gyoza_black);
}

.c-sns-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.c-icon-white {
    color: var(--white);
}

/* ここからcontactページ */
/*contactレイアウト  */
.l-infCard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
}

.l-infCard-lab {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;

}

.l-inf-form>.l-infCard:nth-of-type(4) {
    align-items: flex-start;

}

.l-infCard-lab-q {
    align-items: flex-start;
}

.l-infCard-req {
    display: inline-block;
    align-items: center;
    color: var(--white);
    font-size: 14px;
    background: var(--gyoza_red);
    padding: 0px 10px;
    border-radius: 14px;
    margin-left: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    height: 50px;
}

textarea {
    height: 170px;
}

.c-contact__btn {
    /* display: block; */
    text-align: center;
}

.l-infCard-btn {
    color: var(--white);
    text-align: center;
    font-size: 20px;
    background: var(--gyoza_black);
    padding: 15px 85px;
    border-radius: 15px;
}

/* contactコンポーネント */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 1px solid var(--gyoza_black);
    background-color: var(--white);
    width: 100%;

}



/* ここからfaqページ */
/* faq レイアウト */
.l-faqCard {
    margin-top: 40px;
}


/* faqコンポーネント */
.c-faqCard-q {
    font-weight: bold;
    font-size: 20px;
    color: var(--gyoza_red);
    margin-right: 20px;
}

.c-faqCard dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
}

.c-faqCard dd {
    margin-bottom: 30px;
    margin-left: 35px;
}



/* ここからshopsページ */
/* shops レイアウト */
.l-muCard-ul {
    display: grid;
    row-gap: 60px;

}

.l-mnCard>* {
    margin-bottom: 15px;
}

.l-mnCard-bs {
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.l-mnCard-title {
    font-weight: bold;
}

.l-muCard-ul .l-mnCard-des {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    min-height: 116px;
}

.l-muCard-ul .l-mnCard-des dt {
    font-weight: normal;
}

.l-muCard-ul .l-mnbtn__red {
    margin-bottom: 10px;
}

/* shops コンポーネント */
.l-muCard-ul .c-mnCard {
    width: 100%;
}

.l-muCard-ul .c-mnCard img {
    width: 100%;
    object-fit: cover;
    height: 69vw;
}

.c-mnCard-bs::before {
    display: inline-block;
    content: "";
    width: 19px;
    height: 26px;
    background: url(../img/point.svg) no-repeat center center/100%;

}

.c-mnCard-des dt {
    display: inline-block;

}

.c-mnCard-des dd {
    width: calc(100% - 50px);
}

.c-menu__small {
    font-size: 14px;
}



/* informationページーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.c-info__title {
    padding: 10px 10px 0px 10px;
}

.c-info__text {
    border-bottom: 2px var(--gyoza_red) solid;
    padding: 10px;
}

.bill {
    font-weight: bold;
}

.park {
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.info dt {
    padding-bottom: 20px;
}

.host {
    padding-bottom: 40px;
}

.map {
    width: 100%;
    height: 270px;
    padding-top: 30px;
}

/* info終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


/* shops_info コンポーネント */
.c-menu_img {
    height: 259px;
    object-fit: cover;
}



.c-menu_location {
    font-weight: bold;
    display: flex;
    text-align: left;
    gap: 10px;
    padding: 10px 0;
}

.c-menu_location img {
    width: 19px;
    height: 26px;
}



.c-menu_desc {
    font-size: 20px;
    margin-bottom: 45px;
}

.c-menu_info {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.c-menu_info dt {
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
}

.c-menu_info dd {
    font-size: 20px;
    flex-basis: 80%;
}

.c-menu_shop {
    margin: 60px 0;
}

.c-menu_shop_desc {
    font-size: 16px;
}

.c-menu_shop_title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--gyoza_red);
}

/* praivacy コンポーネント */
.c-pravacy-title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--gyoza_red);
}

.l-pravacy {
    font-size: 14px;
    padding: 0;
    margin-bottom: 20px;
}


.l-pravacy ol {
    list-style-type: decimal;
    padding-left: 2em;
}
.l-pravacy ol ol{
    list-style-type:lower-alpha;
}

.l-pravacy ul {
    list-style-type:lower-alpha;
    padding-left: 1em
}
.l-pravacy ul ul{
    list-style-type: lower-roman;
}

/* -----------------PC共通部分----------------- */
/* ----------------－いじらないでね♥----------------- */
@media(min-width:768px) {


    .l-header {
        padding: 50px;
        /* margin-block-end: 80px; */
    }

    .l-header-top {
        margin-block-end: 0;
    }

    /* h1 img {
        width: 350px;
    } */

    .l-header-sp {
        display: none;
    }

    .l-header-pc {
        display: flex;
        justify-content: space-between;
        /* margin-block-end: 80px; */
    }

    .c-header-nav ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .c-header-nav li {
        font-size: 20px;
        font-weight: bold;
    }

    .c-header-nav__x {
        width: 25px;
        height: 25px;
    }

    .c-header-nav__insta {
        width: 30px;
        height: 30px;
    }

    .c-header-nav__you {
        width: 30px;
        height: 24px;
    }

    /* .c-titlec .c-menu_title{

        padding-top: 80px;
    } */


    /* -----------------以下、各ページ設定----------------- */

    /* TOP */

    .l-news-sec {
        padding-block-start: 0;
    }

    .c-header-top {
        margin-block-end: 0;
    }



    /* .c-mv-sec__img {
        padding: 0 auto;
    } */

    /* .c-mv-sec__img img {
        padding-block-start: 117px;
    } */

    .c-about-concept {
        padding-inline: 90px;
    }

    .c-about-detail__top {
        margin-block-end: 80px;
        flex-direction: row;
        justify-content: space-around;
        padding-block: 30px;
        border-top: 1px solid var(--gyoza_black);
        border-bottom: 1px solid var(--gyoza_black);
        gap: 0;
    }

    .c-about-list:first-of-type dl {
        border-right: 1px solid var(--gyoza_black);
        /* padding-inline-end: 30px; */
    }

    .c-about-list {
        width: 480px;
        /* height: 413px; */
    }

    .c-about-sp {
        display: none;
    }

    .c-about-pc {
        display: block;
    }

    .c-news-detail {
        flex-direction: row;
    }

    .c-news-date {
        padding-inline-start: 16px;
    }

    .c-sns-icon {
        display: flex;
        flex-direction: row;
        gap: 84px;
    }

    /* ここからcontact */
    /* contactレイアウト */
    .l-infCard .l-infCard-lab {
        font-weight: bold;
        width: 27%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 73%;
    }

    /* contactコンポーネント */

    /* ここからfaqページ */
    /* faq レイアウト */




    /* faqコンポーネント */
    .c-faqCard-q {
        margin-right: 20px;
        font-size: 24px;
    }

    .c-faqCard dt {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .c-faqCard dd {
        margin-bottom: 30px;
        margin-left: 35px;
    }




    /* ここからshopsページ */
    /* shopsレイアウト */
    .l-muCard-ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 80px;
        column-gap: 30px;
    }

    /* shops コンポーネント */
    .l-muCard-ul .c-mnCard {
        width: 100%;
    }

    .l-muCard-ul .c-mnCard img {
        width: 100%;
        object-fit: cover;
        height: 225px;
    }

    /* ここからshops_info */
    .c-menu_img {
        height: 720px;
        width: 100%;
        object-fit: cover;
    }

    .c-menu_location {
        height: 60px;
        font-size: 32px;
        font-weight: bold;
        align-items: center;
    }



    .c-menu_desc {
        margin-top: 80px;
    }

    .c-menu_info dt {
        font-size: 20px;
        display: inline-block;
    }

    .c-menu_info dd {
        font-size: 20px;
        flex-basis: 92%;
    }


    /* pc版info-------------------------------------------------------------------------------- */

.c-info__list{
    display: grid;
    grid-template-columns: 17.5% 82.5%;
}


    .c-info__title {
        display: flex;
        align-items: center;
        border-bottom: 2px var(--gyoza_red) solid;
        padding: 30px;
    }

    .c-info__text {
        padding: 30px;
    }


    .info {
        padding-top: 40px;
    }

    .map {
        height: 321px;
        padding-top: 40px;
    }



}