@charset "UTF-8";

:root {
    --gyoza_white: #fff7f7;
    --white: #fff;
    --gyoza_black: #131a12;
    --gyoza_red: #e22a00;
    --gyoza_yellow: #ffe100;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    color: var(--gyoza_black);
    background: var(--gyoza_white);
    line-height: 180%;
}

img {
    width: 100%;
}

/* -----------------コンテンツ幅のクラス----------------- */
.l-wrapper {
    width: min(92%, 960px);
    margin: 0 auto;

}

/* -----------------モバイルファースト -----------------*/
/*----------------- 共通部分 -----------------*/
/* ----------------－いじらないでね♥----------------- */
.l-header {
    padding: 20px 15px;
    background: var(--white);
    /* ↓スマホ版はない */
    /* margin-block-end: 60px; */
    margin-block-end: clamp(3.75rem, 3.049rem + 3.252vw, 5rem);
}

.c-header-logo img {
    width: clamp(12.5rem, 7.241rem + 24.39vw, 21.875rem);
}

.l-header-sp {
    display: flex;
    justify-content: space-between;
}

.l-header-pc {
    display: none;
}

/* ↓仮置きのハンバーガーイメージ */
.l-header .hamburger-image {
    width: 25px;
    height: 24px;
}

.c-header-nav li a:hover {
    border-block-end: solid 2px var(--gyoza_red);
}

.nav-pc li img:hover li img:hover {
    text-decoration: underline solid 2px var(--gyoza_red);
}

section {
    /* padding-block: 30px; */
    padding-block: clamp(1.875rem, 1.524rem + 1.626vw, 2.5rem);
}

h2 {
    /* font-size: 32px; */
    font-size: clamp(2rem, 1.860rem + 0.65vw, 2.25rem);
    font-weight: bold;
    padding-block-end: 30px;
    border-block-end: 3px solid var(--gyoza_red);
    /* margin-block-end: 60px; */
    margin-block-end: clamp(3.75rem, 3.049rem + 3.252vw, 5rem);
    text-align: center;
}

h3 {
    /* font-size: 24px; */
    font-size: clamp(1.5rem, 1.220rem + 1.301vw, 2rem);
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_red);
    padding: 5px 10px;
    /* margin-block-end: 30px; */
    margin-block-end: clamp(1.875rem, 0.122rem + 8.13vw, 5rem);
}

/* ボタン */


/* 黒いボタン */
.btn-black {
    text-align: center;
}

.btn-black a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_black);
    max-width: 300px;
    text-align: center;
    padding: 15px 85px;
    border-radius: 15px;
    margin: 0 auto;
}

.btn-black a:hover {
    text-decoration: underline solid 1px var(--white);
}

/* 赤いボタン */
.btn-red a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    background: var(--gyoza_red);
    max-width: 300px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 0 auto
}

.btn-red a:hover {
    text-decoration: underline solid 1px var(--white);
}

.l-footer {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    background: var(--white);
}

.l-footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.l-footer li+li {
    border-left: 1px solid var(--gyoza_black);
    padding-left: 20px;
}

.l-footer li a:hover {
    text-decoration: underline solid 1px var(--gyoza_black);
}

/* -----------------以下各ページごとのコーディング----------------- */



/* -----------------PC共通部分----------------- */
/* ----------------－いじらないでね♥----------------- */
@media(min-width:768px) {


    .l-header {
        padding: 50px;
        margin-block-end: 80px;
    }

    /* h1 img {
        width: 350px;
    } */

    .l-header-sp {
        display: none;
    }

    .l-header-pc {
        display: flex;
        justify-content: space-between;
    }

    .c-header-nav ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .c-header-nav li {
        font-size: 20px;
        font-weight: bold;
    }

    .c-header-nav__x {
        width: 25px;
        height: 25px;
    }

    .c-header-nav__insta {
        width: 30px;
        height: 30px;
    }

    .c-header-nav__you {
        width: 30px;
        height: 24px;
    }

    /* -----------------以下、各ページ設定----------------- */

}